.profile-menu {
  position: absolute;
  background-color: var(--clr-primary-darker);
  border-radius: 5px;
  right: 0px;
  margin: 5px 15px;
}
.profile-menu-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-menu-options li {
  font-size: 16px;
  color: var(--clr-font);
  padding: 10px 15px;
  width: 130px;
  border-radius: 5px;
}
.profile-menu-options li:hover {
  background-color: var(--clr-hover);
}
