.profile-bar {
  width: 100%;
  background-color: var(--clr-primary-theme);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.profile-bar-img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .profile-bar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.btn-menu {
  position: relative;
  color: #fff;
  margin: 0 15px;
  padding: 0 5px;
  font-size: 20px;
  transition: all 0.5s ease;
}
.btn-menu:hover {
  transform: scale(1.2);
}
