.chat {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: var(--clr-primary-highlight);
}
.chat-container {
  width: 80%;
  display: flex;
  align-items: center;
}
.chat-input {
  width: 95%;
  height: 40px;
  font-size: 17px;
  margin: 10px 20px;
  padding: 0 20px;
  color: var(--clr-font);
  outline: none;
  background-color: var(--clr-font-compl);
  border: none;
  border-radius: 50px;
  box-shadow: 3px 3px 10px var(--clr-box-shadow);
}
.chat-input::placeholder {
  color: var(--clr-font);
}
.chat-send,
.chat-docs {
  border: none;
  background: none;
  border-radius: 50px;
  cursor: pointer;
  color: var(--clr-primary-theme-light);
  font-size: 25px;
  transition: color ease-in 0.5s;
}
.chat-send:hover {
  color: var(--clr-primary-theme);
}
@media only screen and (max-width: 600px) {
  .chat-container {
    width: 90%;
  }
  .chat {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
