.chat {
  position: absolute;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
.chat-input {
  width: 95%;
  height: 40px;
  font-size: 17px;
  margin: 10px auto;
  padding: 0 20px;
  color: #fff;
  outline: none;
  background-color: #4e4e4e;
  border: none;
  border-radius: 50px;
}
.chat-input::placeholder {
  color: #fff;
}
.chat-send {
  border: none;
  background: none;
  border-radius: 50px;
  margin-left: 15px;
  cursor: pointer;
  color: #000;
  font-size: 25px;
  transition: color ease-in 0.5s;
}
.chat-send:hover {
  color: var(--clr-btn-green);
}
@media only screen and (max-width: 600px) {
  .chat {
    width: 90%;
  }
}
