.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-img {
  position: relative;
  width: 70%;
  display: grid;
  place-items: center;
  margin: 20px 30px;
}

.profile-img img {
  width: 100%;
  border-radius: 50%;
}
.profile-details {
  margin-top: 20px;
}
.profile-details div {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-details label {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  padding: 0 10px;
}
.profile-details input {
  width: 150px;
  color: #fff;
  margin: 5px;
  border: none;
  outline: none;
  padding: 0 5px;
  font-size: 16px;
  background: none;
  border-bottom: 1px solid #fff;
}
.btn-profile-edit-username {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
}
.btn-profile-close {
  align-self: flex-start;
  margin: 15px 20px;
  font-size: 25px;
  color: #fff;
}
.btn-profile-img-change {
  position: absolute;
  display: none;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.btn-profile-img-change div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-profile-img-change div .icon-camera {
  font-size: 20px;
}
.profile-img:hover > .btn-profile-img-change {
  display: grid;
}
