.searched-user {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 8px auto;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
  }
  .searched-user:hover {
    background-color: #373737;
  }
  .searched-user img {
    width: 40px;
    height: auto;
    border-radius: 50px;
    margin-right: 15px;
  }
  .searched-user span {
    color: #fff;
    font-size: 18px;
  }