.chat-box-bar {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background-color: var(--clr-primary-highlight);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.chat-box-bar-det {
  display: flex;
  align-items: center;
  margin: 0 15px;
}
.chat-box-bar-name {
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--clr-font);
  cursor: pointer;
}
.chat-box-bar-img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
}
.chat-box-bar-back {
  margin: 0 10px 0 0;
  font-size: 20px;
  color: var(--clr-font);
  cursor: pointer;
}
.user-online {
  width: 12px;
  height: 12px;
  background-color: var(--clr-primary-highlight);
  border-radius: 50px;
  margin-left: 10px;
  border: 3px solid var(--clr-font);
}
