.app-page {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media only screen and (max-width: 1300px) {
  .app-page {
    grid-template-columns: 1fr 2fr;
  }
}
@media only screen and (max-width: 930px) {
  .app-page {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .app-page {
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
  }
}
