.search-bar {
  width: 100%;
  height: fit-content;
  background-color: #505050;
  display: none;
  flex-direction: column;
  align-items: center;
}
.search-bar-input {
  width: 88%;
  height: 40px;
  font-size: 17px;
  margin: 10px;
  padding: 0 10px;
  color: rgb(187, 187, 187);
  outline: none;
  background-color: #373737;
  border: none;
  border-radius: 50px;
}
.user-serach-res {
  width: 100%;
  min-height: fit-content;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
@media only screen and (max-width: 600px) {
  .search-bar-input {
    height: 30px;
  }
}
