::placeholder {
  color: var(--clr-font);
}
.App {
  width: 100vw;
}
.hidden {
  display: none;
}
.chat-dis {
  min-width: 50px;
  max-width: 600px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px 60px;
  border-radius: 10px;
}
.chat-txt {
  width: fit-content;
  color: var(--clr-font);
  align-self: flex-start;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 5px;
}
.chat-time {
  align-self: flex-end;
  width: fit-content;
  color: var(--clr-font);
  font-size: 12px;
}
.file-view {
  display: flex;
  align-items: center;
}
.btn-file-download {
  padding: 10px;
  background-color: #fff;
  margin-right: 15px;
  border-radius: 50px;
  cursor: pointer;
}
@media only screen and (max-width: 930px) {
  .chat-dis {
    margin: 10px 20px;
  }
}

@media only screen and (max-width: 800px) {
  .chat-dis {
    margin: 10px 10px;
  }
}

@media only screen and (max-width: 320px) {
  .chat-dis {
    min-width: 150px;
    max-width: 250px;
    margin: 10px 5px;
  }
}
/* Chat menu */
.chat-menu-ul {
  display: flex;
  flex-direction: column;
}
.chat-menu-ul li {
  display: inline-block;
  font-size: 22px;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(128, 128, 128);
  cursor: pointer;
}
.chat-menu-ul li svg {
  padding: 0 10px;
}
/* Alert */
.alert {
  width: 50%;
  height: 30px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  background: greenyellow;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 99999;
}
/* Form */
.menu-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.menu-form div {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}
.menu-form label {
  font-weight: bold;
  color: var(--clr-font);
  font-size: 20px;
  padding: 5px 10px;
}
.menu-form input,
.btn-profile-img-upload,
.btn-profile-update,
.btn-password-change {
  width: 100%;
  color: var(--clr-font);
  border: none;
  text-align: center;
  outline: none;
  padding: 10px 0;
  font-size: 16px;
  background: var(--clr-primary-highlight);
  border-radius: 5px;
  transition: all 0.5s ease;
}
/* Btn Gradient */
.btn-grad {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
}
.btn-grad {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.img-blur {
  filter: blur(5px);
}
