:root {
  /* Default */
  --clr-primary: #fafafa;
  --clr-primary-highlight: #e4e5f1;
  --clr-primary-darker: #d2d3db;
  --clr-hover: rgba(0, 0, 0, 0.1);
  --clr-chat-border: rgba(0, 0, 0, 0.2);
  --clr-font: #000;
  --clr-font-compl: #fff;
  --clr-box-shadow: rgba(0, 0, 0, 0.4);
  /* Theme */
  --clr-primary-theme: #9733ee;
  --clr-primary-theme-light: #da22ff;
}
* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-color: var(--clr-primary);
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul li {
  text-decoration: none;
  display: inline-block;
}
/* Scroll-Bar */
::-webkit-scrollbar-thumb {
  background: var(--clr-primary-theme);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--clr-primary-highlight);
}

::-webkit-scrollbar {
  width: 5px;
}
