.docs {
  position: absolute;
  display: flex;
  align-items: center;
  top: -90px;
  left: 30px;
  width: fit-content;
  height: 60px;
  padding: 10px;
  background-color: var(--clr-primary-highlight);
  border-radius: 8px;
}
.docs-btns {
  display: flex;
  align-items: center;
}
.btn-docs {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50px;
  background-color: var(--clr-primary-darker);
}
@media only screen and (max-width: 600px) {
  .docs {
    left: 10px;
  }
}
