.chat-left {
  align-self: flex-start;
  background-color: var(--clr-receiver);
  border-top-left-radius: 0px;
  margin-right: 130px;
}
@media only screen and (max-width: 320px) {
  .chat-left {
    margin-right: 50px;
  }
}
